<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{patientSidebar::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Pending Request</title>
</head>
<body>
<section>
    <div class="container mt-5" style="min-height: 60vh;">
        <h2 class="mb-4">pending Appointments</h2>

        <!-- Success or error message -->
        <!--            <div th:if="${msg != null}" class="alert alert-success" th:text="${msg}"></div>-->
        <!--            <div th:if="${errorMsg != null}" class="alert alert-danger" th:text="${errorMsg}"></div>-->

        <!-- Table for displaying pending doctor requests -->
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Doctor Name</th>
                <th>Specialization</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="patientPendingAppointments">
            <!-- Loop through the list of pending doctor requests -->
            <tr th:each="appointment : ${appointments}">
                <td th:text="${appointment.doctorName}">Doctor Name</td>
                <td th:text="${appointment.doctor.specialist}">doctor@example.com</td>
                <td th:text="${appointment.phoneNumber}">phone Number</td>
                <td>
                    <!-- Accept Request button -->
                    <button class="btn btn-success view-appointment-btn" th:data-id="${appointment.id}">View Details</button>
                    <button id="joinMeetingBtn" class="btn btn-danger" th:data-id="${appointment.id}">Join To Doctor</button>

                    <!-- View Details button -->
<!--                    <button class="btn btn-info mark-visited-btn" th:data-id="${appointment.id}">Mark Visited</button>-->

                    <!-- delete Request button -->
<!--                    <button class="btn btn-danger call-patient-btn newMeetingBtn"  th:data-id="${appointment.id}">Join Doctor</button>-->
<!--                    <div class="join-meeting">-->
<!--                        <input type="hidden" id="meetingId"/>-->
<!--                        <button id="joinMeetingBtn" class="btn btn-danger call-patient-btn" th:data-id="${appointment.id}" >Join Doctor</button>-->
<!--                    </div>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<!--<script src="/js/videoCall.js"></script>-->
</body>
</html>
