<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Pending Request</title>
</head>
<body>
    <section>
        <div class="container mt-5" style="min-height: 60vh;">
            <h2 class="mb-4">Doctor Pending Requests</h2>

            <!-- Success or error message -->
<!--            <div th:if="${msg != null}" class="alert alert-success" th:text="${msg}"></div>-->
<!--            <div th:if="${errorMsg != null}" class="alert alert-danger" th:text="${errorMsg}"></div>-->

            <!-- Table for displaying pending doctor requests -->
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Doctor Name</th>
                    <th>Email</th>
                    <th>Specialization</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="doctorRequestList">
                <!-- Loop through the list of pending doctor requests -->
                    <tr th:each="doctor : ${pendingDoctors}">
                        <td th:text="${doctor.name}">Doctor Name</td>
                        <td th:text="${doctor.email}">doctor@example.com</td>
                        <td th:text="${doctor.specialist}">Specialization</td>
                        <td>
                            <!-- Accept Request button -->
                            <button class="btn btn-success accept-request-btn" th:data-id="${doctor.id}">Accept Request</button>

                            <!-- delete Request button -->
                            <button class="btn btn-danger delete-request-btn" th:data-id="${doctor.id}">Delete Request</button>

                            <!-- View Details button -->
                            <button class="btn btn-info viewRequestedDoctorDetails-btn" th:data-id="${doctor.id}">View Details</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>
